$background-color: #f6f6f6;

$darkgrey: #ccc;
$text-default: #534b45;

$tileBgColorLight: #fff;
$tileBgColorDark: #ccc;
$bordergrey: #dddddd;
$neutralgrey: #666;
$accent-color: #ec008c;
$accent-color-dark: #cf3565;
