header {
    height: 90px;
    background-color: white;
    background: url(/images/header-bg.png) repeat-x;
}
.header-container {
    width: 1024px;
    margin: 0 auto;
}
.header-image {
  position: absolute;
  left: 0;
  top: 0px;
  left: 200px;
  width: 380px;
  height: 100px;
  background: url(/images/complex2simple.png) no-repeat top;
  text-indent: -999999px;
}

.upper-right {
    display: inline-block;
    float: right;
    padding: 10px 40px 10px 0;
    font-family: Courier, serif;

    .name {
        display: block;
        font-size:24px;
        color: $accent-color;
        margin:0 0 5px 0px;
        text-shadow: 0 1px white;
    }
    .dotline {
        background: url(/images/dot.gif) repeat-x;
        width: 350px;
        min-height:5px;
        padding: 5px;
        display:block;
    }
    .header-nav {
        display: block;
        ul {
            li {
                display: inline-block;
                a {
                    font-size: 12px;
                    margin-right: 24px;
                    color: $text-default;
                    &:hover {
                        text-decoration: none;
                        color: $accent-color-dark;
                    }
                }
            }
        }
    }
}

