header {
    height: 90px;
    background-color: white;
    background: url(/images/header-bg.png) repeat-x;
}
.header-container {
    width: 1024px;
    margin: 0 auto;
}
.header-image {
    position: absolute;
    left:0;
    top: -2px;
    width: 555px;
    height: 352px;
    background: url(/images/header.png) no-repeat bottom;
    text-indent: -999999px;

    &:hover {
        background-position:0 0;
    }
}
.name {
    a {
        font-size: 60px;
        margin: 50px 0 0 40px;
        display: inline-block;
        float: left;
        text-shadow: 0 1px white;

        &:hover {
            color: $text-default;
            text-shadow: 0 1px white, 0 -1px $bordergrey;
        }
    }
}
.header-nav {
    display: inline-block;
    float: right;
    padding: 50px 40px 10px 0;
    height: 90px;
    ul {
        li {
            display: inline-block;
            a {
                font-size: 14px;
                font-weight: bold;
                margin-right: 24px;
                color: $accent-color;
                &:hover {
                    text-decoration: none;
                    color: $accent-color-dark;
                }
            }
        }
    }
}
