header {
    height: 70px;
    background-color: white;
}
.header-container {
    width: 1024px;
    margin: 0 auto;
}
.name {
    a {
        font-size: 60px;
        margin: 50px 0 0 40px;
        display: inline-block;
        float: left;
        text-shadow: 0 1px white;

        &:hover {
            color: $accent-color;
            text-shadow: 0 1px white, 0 -1px $bordergrey;
        }
    }
}
.header-nav {
    display: inline-block;
    float: right;
    margin: 50px 40px 10px 0;
    ul {
        li {
            display: inline-block;
            a {
                font-size: 14px;
                margin-right: 24px;
                &:hover {
                    text-decoration: none;
                    color: $accent-color;
                }
            }
        }
    }
}
