@import url("/stylesheets/reset.css");
@import url("/stylesheets/demos.css");
@import url("/stylesheets/jquery-ui-1.8.4.custom.css");
/* variables */
@import "colors";

/* mixins */
@import 'box-shadow';
@import "mixins";

/* data */
@import "message-types";


/* modules */

@import "center-content";
@import "bottom-bar";
@import "page-header";
@import "main";
@import "task-assist";
@import "form";

@import "facebox";
@import "signup";
@import "helper";


body.dashboard {
    background:$background-color;
    font-family: Helvetica, Verdana, Arial, sans-serif;
}

.container {
    width: 1024px;
    background: #fff;
    border-left: 2px solid $main-page-border;
    border-right: 2px solid $main-page-border;
    margin: 0 auto 0 auto;
    position: relative;
    min-height: 700px;
}

#main {
    min-height: 500px;
    margin: -3px 0 0 0;
    position: relative;
    z-index: 2;
}

.clear              {clear: both;}
h1                  {color: $darkgrey; font-size: 30px; font-weight: bold;}
h2                  {color: $darkgrey; font-size: 24px; font-weight: bold;}
h2 b                {font-weight: bold;}
h3                  {color: $connexive-blue; font-size: 18px; font-weight: bold;}
h4                  {color: $connexive-blue; font-size: 12px; font-weight: bold;}
h5                  {color: $coolgrey; font-size: 12px; font-weight: normal;}
h5 span             {color: $coolgrey; font-size: 18px; font-weight: normal;}
ul                  {list-style: none;}
p                   {color: $connexive-brown; font-family: inherit; font-size: 12px; line-height: 18px;}
a                   {color: $connexive-brown; font-family: inherit; font-size: 12px; line-height: 18px; outline: none; text-decoration: none;}
a:hover             {text-decoration: underline;}
textarea            {resize: none; overflow: auto;}
input               {color: $lightgrey; font-size: 14px;}
input:focus, textarea:focus     {color: $darkgrey; outline: none;}
input[type="radio"]             {vertical-align: text-bottom;}
input[type="checkbox"]          {vertical-align: bottom;}
.ie7 input[type="checkbox"]     {vertical-align: baseline;}
.ie6 input                      {vertical-align: text-bottom;}


#primary {
    overflow: hidden;
    float: left;
    width: 1030px;
/*    margin: 0 10px 40px 15px;*/
    display: inline-block;
    header {
        overflow: hidden;

        h1 {
            float: left;
        }
    }
}

$AccountDataBackground: #EEEEEE;

.color0 {background:$peacock-green; border-color:darken($peacock-green, 50%);}
.color1 {background:$tan-orange; border-color:darken($tan-orange, 50%);}
.color2 {background:$iris; border-color:darken($iris, 50%);}
.color3 {background:$grass; border-color:darken($grass, 50%);}
.color4 {background:$coral-pink; border-color:darken($coral-pink, 50%);}
.color5 {background:$navy-blue; border-color:darken($navy-blue, 50%);}
.color6 {background:$burgundy; border-color:darken($burgundy, 50%);}


.accounts-section {
    width: 700px;
    padding: 0 20px 40px 20px;
    .accounts-list {
        margin-top: 20px;
    }
    .account {
        border-bottom: 1px solid $bordergrey;

        &:first-of-type{
        border-top: 1px solid $bordergrey;
        }

        .account-description {
            width: 250px;
            background: $AccountDataBackground;
            padding:10px;
            .account-data {
                display: inline-block;
                float: left;
                width: 665px;
            }
            .institution-desc{

            }
            .institution-name{
                font-size: 14px;
                font-weight: bold;
                color: $darkbrown;
                line-height: 24px;
                margin-left:4px;
            }
            .account-name{
                font-size: 14px;
                color: $deepgrey;
                margin-left: 24px;
                line-height:24px;
            }
            .login{
                font-size: 14px;
                color: $deepgrey;
                margin-left: 24px;
                line-height: 24px;
            }

        }

        .timeline-row {
            width: 300px;
            min-height:80px;
            padding: 15px 10px 0 10px;

            .top {
                display:block;
                .bill-edit {
                    text-decoration: underline;
                    color: #557489;
                    font-size: 12px;
                    margin-right: 10px;
                    float: left;
                }
                .amount-due {
                    font-size: 14px;
                }
                .correct-amount {
                    font-weight: bold;
                    float: right;
                }
                .approximate-amount {
                    color: #CCCCCC;
                    font-style: italic;
                }
            }


            .bar-container {
                display: inline-block;
                width: 170px;
                float: right;

                .today-marker {
                    @include rounded-corners(8px);
                    color: white;
                    background: $lightgrey;
                    text-align: center;
                    font-size: 10px;
                    width: 72px;
                    padding: 1px 0px;
                }

                .status-box {
                    float: left;
                    padding-top: 18px;
                }
                .timeline-bar {
                    display: inline-block;
                    position: relative;
                    float: right;
                    background: url(/images/backgrounds/bg-due-date2.png) no-repeat;
                    height: 60px;
                    width: 150px;

                    .one-day-bar {
                        height: 20px;
                        width: 5px;
                        position: absolute;
                        top: 16px;
                        z-index: 1;
                    }

                    .future-day {
                        float: right;
                        width: 5px;
                        height: 20px;
                        background: blue;
                        position: relative;
                        top: 16px;
                        z-index: 1;
                    }

                    .past-day {
                        float: left;
                        width: 5px;
                        height: 20px;
                        background: red;
                        position: relative;
                        top: 16px;
                        z-index: 1;
                    }

                    .approximate-date-bar {
                        background: black;
                    }

                    .bill-date {
                        position: absolute;
                        padding: 0 4px;
                        top: 20px;
                        z-index: 1;
                        font-size: 12px;
                        color: $darkbrown;
                    }

                    .approximate-date {
                        color: $deepgrey;
                        font-style: italic;
                    }

                }
            }
        }

        .actions {
            width: 150px;
            padding-top: 10px;
            .action-button {
                display: inline-block;
                float: left;
                @include linear-gradient($actionButtonStartGradient, $actionButtonEndGradient);
                @include rounded-corners(5px);
                padding: 8px 10px;
                border: 1px $actionButtonBorder solid;
                color: $actionButtonTextColor;
                font-size: 16px;
                font-weight: bold;
                margin: 10px 10px 0 30px;
                &:hover {
                    @include linear-gradient(lighten($actionButtonStartGradient, 1.5%), $actionButtonEndGradient);
                    text-decoration: none;
                }
            }
            .autopay-box {
                display: inline-block;
                float: left;
                margin-top: 12px;
                margin-left:30px;
                .autopay-label {
                    font-size: 14px;
                    color: $deepgrey;
                    margin-left: 8px;
                }
            }
        }
    }
}

.save-account {
    padding: 6px 15px;
    margin-right: 20px;
    margin-bottom: 10px;
    float: right;
    font-size: 12px;
}

.button {
    @include rounded-corners(8px);
    width: auto;
    background: $tileBgColorLight;
    background: -moz-linear-gradient(top, $tileBgColorLight 0%, $tileBgColorDark 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $tileBgColorDark), color-stop(100%, $tileBgColorDark));
    background: -webkit-linear-gradient(top, $tileBgColorLight 0%, $tileBgColorDark 100%);
    background: -o-linear-gradient(top, $tileBgColorLight 0%, $tileBgColorDark 100%);
    background: -ms-linear-gradient(top, $tileBgColorLight 0%, $tileBgColorDark 100%);
    /*
        Note: bug in SASS, the colors in quotes below do not get replaced with the correct variable when using SASS
        color variables
    */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ededed',GradientType=0 );
    background: linear-gradient(top, $tileBgColorLight 0%, $tileBgColorDark 100%);

    border: 1px solid #cecccc;
    padding: 2px 16px 2px 16px;
    font-size: 12px;
    color: #777777;
    display: inline-block;
}
