<h2 class="page-title">Connexive Work</h2>
<div class="clear"></div>
<div class="portfolio-container">
    <div class="tile-left">
        <a href="/home">&laquo; Back to Home</a>
        <div class="clear"></div>
        <div class="tile-vertical">
            <div class="tile">
                <div class="small-image">
                    <a href="/connexive">
                        <img src="/images/small-images/confidential-small.png">
                    </a>
                </div>
                <h2 class="label"><%= link_to "Connexive", '/Connexive' %></h2>
                <div class="description">Personal finance web app still in stealth-mode private alpha</div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="portfolio-content">
        <div class="pf-description">
            Connexive Inc. is an early-stage startup and the personal finance web app it built is still in private alpha phase.
            I worked as the director of user experience and my responsibilities included:
        </div>
        <div class="pf-description">
            <ul>
                <li type="square">Establishing directions in User Experience and Product Management
                <li type="square">Translating backend business logic complexity to simple user experience
                <li type="square">Identifying key user personas and their key use scenarios
                <li type="square">Creating and maintaining crisp list of priority features
                <li type="square">Running alpha testing program, communicating with users and reflecting the feedback to the product
                <li type="square">Testing out marketing messages and product-market fit
                <li type="square">Architecting the service UX and navigation
                <li type="square">Wireframe and hi-fi mockups
                <li type="square">Managing outsourced front-end team
            </ul>
        </div>
        <div class="pf-description">
            The design work I did in Connexive is not yet publicly available, but I may be able to present it under an NDA to a
            non-competing party. <a href="mailto:hisun@live.com">Contact me</a> if interested.
        </div>
    </div>
    <div class="clear"></div>
</div>
