<h2 class="page-title">Email Dashboard Web App</h2>
<div class="clear"></div>
<div class="portfolio-container">
    <div class="tile-left">
        <div class="tile-vertical">

            <div class="clear"></div>
            <div class="tile-container">
                <div class="tile">
                    <div class="small-image">
                        <a href="/connexive" rel="facebox">
                            <img src="/images/small-images/CNX-small.png">
                        </a>
                    </div>
                    <h2 class="label"><%= link_to "Email Dashboard", '/connexive', :rel => 'facebox' %></h2>
                    <div class="description">
                        Auto-organizer for information coming into your inbox

                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="clear"></div>
        <a href="/home">&laquo; Back to Home</a>
    </div>
    <div class="portfolio-content">
        <div class="pf-description">
            What if you just hook up your inbox and an app tells you when to expect Amazon delivery, when to pay bills or when to get ready for you trip?
        </div>
        <div class="pf-description">
            Connexive Inc. was an early-stage startup developing a web app to organize and visualize information delivered to email inbox automatically for users.
            I worked as the director of user experience and my responsibilities included:
        </div>
        <div class="pf-description">
            <ul>
                <li type="square">Establishing directions in User Experience and Product Management
                <li type="square">Translating backend business logic complexity to simple user experience
                <li type="square">Identifying key user personas and their key use scenarios
                <li type="square">Creating and maintaining crisp list of priority features
                <li type="square">Running alpha testing program, communicating with users and reflecting the feedback to the product
                <li type="square">Architecting the service UX and navigation
                <li type="square">Wireframe and hi-fi mockups
                <li type="square">Managing outsourced front-end team
            </ul>
        </div>
        <img src="/images/CNX/cnx1.png"/>
        <div class="pf-description">
            * Connexive pivoted since this idea and now became a personal finance app.
        </div>
    </div>
    <div class="clear"></div>
</div>
