<h2 class="page-title">Windows Live Dashboard</h2>
<div class="clear"></div>
<div class="portfolio-container">
    <div class="tile-left">
        <a href="/home">&laquo; Back to Home</a>
        <div class="clear"></div>
        <div class="tile-vertical">
            <div class="tile">
                <div class="small-image">
                    <a href="/dashboard">
                        <img src="/images/small-images/home-small.png">
                    </a>
                </div>
                <h2 class="label"><%= link_to "Windows Live Dashboard", '/dashboard' %></h2>
                <div class="description">The all-in-a-glance summary page for social updates, new emails, and new online files</div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="portfolio-content">
        <div class="pf-description">
          In 2007, Windows Live had just launched the first version of its social platform leveraging other components within Microsoft
          including MSN and Office Live. The goal of the team was to unify various services (Hotmail, Messenger IM, blog, photo, documents,
          profile) under the brand of Windows Live. We designed a personalized dashboard page under the mantra of &ldquo;Me, my people, my stuff, and my world&rdquo;
          to emphasize the benefit of using a suite of services at Windows Live.
        </div>
        <img src="/images/WLdashboard/home1.jpg">
        <div class="clear"></div>
        <div class="pf-description">
          This site set the standard look & feel for entire Windows Live line of products and reached <em>110M unique users</em> by the end of cycle for its first version,
          and later evolved into a timeline view of aggregated activities with Windows Live and other 3rd party networks.
        </div>
        <img src="/images/WLdashboard/home2.png" style="vertical-align: top;">
        <img src="/images/WLdashboard/home3.jpg" style="vertical-align: top;">


    </div>
    <div class="clear"></div>
</div>

