<h2 class="page-title">Desktop Gadgets</h2>
<div class="clear"></div>
<div class="portfolio-container">
    <div class="tile-left">
        <div class="tile-vertical">

            <div class="clear"></div>
            <div class="tile-container">
                <div class="tile">
                    <div class="small-image">
                        <a href="/gadgets">
                            <img src="/images/small-images/gadget-small.png">
                        </a>
                    </div>
                    <h2 class="label"><%= link_to "Desktop Gadgets", '/gadgets' %></h2>
                    <div class="description">
                        UX guidance for Microsoft-branded Windows gadgets with online data synch

                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <a href="/home">&laquo; Back to Home</a>
    </div>
    <div class="portfolio-content">
        <div class="pf-description">
          Microsoft built the desktop gadget economy for Windows targeting consumers and 3rd party developers in response
          to Apple and Google’s competitive move into the space in 2006. While giving the free reign to the developers what
          to build and how to build, Microsoft wanted to control the quality of user experience of those gadgets by setting
          up the common principles of user experience and guiding the developers with the standard. A handful of top design agencies were
          contracted to spearhead pilot projects in building the user experience. I supervised the agency work on the inaugural
          gadgets and established the user interface guidelines for the gadget development.
        </div>
        <img src="/images/gadgets/gadget_big.png">  <br>
        <img src="/images/gadgets/gadget1.png" style="vertical-align: top; margin-right: 0px;">
        <img src="/images/gadgets/gadget2.png" style="vertical-align: top;">

    </div>
    <div class="clear"></div>
</div>


