<h2 class="page-title">Gamified Geo-photo Mobile App</h2>
<div class="clear"></div>
<div class="portfolio-container">
    <div class="tile-left">
        <div class="tile-vertical">

            <div class="clear"></div>
            <div class="tile-container">
                <div class="tile">
                    <div class="small-image">
                        <a href="/geophoto">
                            <img src="/images/small-images/wl-small.png">
                        </a>
                    </div>
                    <h2 class="label"><%= link_to "Gamified Geo-photo App", '/geophoto' %></h2>
                    <div class="description">
                      UX strategy and prototyping for a mobile app leveraging geo-tagged photos
                        <div class="box-bottom-div">
                            <!--img src="/images/box-bottom.png" class="box-bottom"/-->
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="clear"></div>
        <a href="/home">&laquo; Back to Home</a>
    </div>
    <div class="portfolio-content">
        <div class="pf-description">
            You are religiously following what's happening at Tahrir Square in Egypt, but you are only getting the same photos that major press circulate among themselves. What if you can request people in the specific place at a specific time to take photos and send to you?
          <div class="clear"></div>
          <img src="/images/WL/jasmine.png"/>
        </div>
        <div class="pf-description">
            This mobile app started from that inspiration one of the cofounders had during the Jasmine Revolution of 2011.
        </div>
        <div class="pf-description">
            I helped this early-stage startup to:
        </div>
        <div class="pf-description">
            <ul>
                <li type="square">Zone in with the UX differentiators from hordes of competitors
                <li type="square">Gamify the experience to incentivize users to contribute more
                <li type="square">Identify key user personas and their key use scenarios
                <li type="square">Architect the service UX and navigation
                <li type="square">Work out a quick round of beta development by providing wireframes and hi-fi mockups
            </ul>
        </div>
        <div class="pf-description">
          <img src="/images/WL/wl1.png"/>
          <img src="/images/WL/wl2.png"/>
        </div>
        <div class="pf-description">
          More UI screenshots when the service launches.
        </div>
    </div>
    <div class="clear"></div>
</div>
