<h2 class="page-title">Mobile Web Landing Page</h2>
<div class="clear"></div>
<div class="portfolio-container">
    <div class="tile-left">
        <a href="/home">&laquo; Back to Home</a>
        <div class="clear"></div>
        <div class="tile-vertical">
            <div class="tile">
                <div class="small-image">
                    <a href="/mobilehome">
                        <img src="/images/small-images/mobilehome-small.png">
                    </a>
                </div>
                <h2 class="label"><%= link_to "Mobile Web Landing Page", '/mobilehome' %></h2>
                <div class="description">Mobile dashboard page for Windows Live services at m.live.com</div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="portfolio-content">
        <img src="/images/mobilehome/mobile.png" style="margin-top: 15px;">
    </div>
    <div class="clear"></div>
</div>

