<h2 class="page-title">Mobile Web Landing Page</h2>
<div class="clear"></div>
<div class="portfolio-container">
    <div class="tile-left">
        <div class="tile-vertical">
            <div class="tile">
            <img src="/images/box-top.png" class="box-top"/>
            <div class="clear"></div>
            <div class="tile-container">
                <div class="tile">
                    <div class="small-image">
                        <a href="/mobilehome">
                            <img src="/images/small-images/mobilehome-small.png">
                        </a>
                    </div>
                    <h2 class="label"><%= link_to "Mobile Web Landing Page", '/mobilehome' %></h2>
                    <div class="description">
                        Mobile dashboard page for Windows Live services at m.live.com
                        <div class="box-bottom-div">
                            <img src="/images/box-bottom.png" class="box-bottom"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <a href="/home">&laquo; Back to Home</a>
    </div>
    <div class="portfolio-content">
        <img src="/images/mobilehome/mobile.png" class="vertical">
        <div class="vertical">
            <div class="pf-description caption" style="max-width: 300px">&larr; Mobile touch screen version of Windows Live Dashboard UI
            </div>
            <div class="clear"></div>
            <div class="pf-description vertical" style="padding-left: 20px;">
              The Windows Live Dashboard (home.live.com) that my team launched in 2007 evolved into a social and collaboration aggregation
              service leveraging Hotmail, Messenger, Skydrive, Office Live and 3rd party social networks and web services by 2010. <br><br>
              For this project, my team worked to bring the Dashboard to mobile web browsers and translate the UX fit to touchscreen devices.
              The team optimized the design with mobile performance concerns as well as many device/OS- and browser-specific quirks.
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>

