<h2 class="page-title">New User Acquisition Flow</h2>
<div class="clear"></div>
<div class="portfolio-container">
    <div class="tile-left">
        <div class="tile-vertical">
            <img src="/images/box-top.png" class="box-top"/>
            <div class="clear"></div>
            <div class="tile-container">
                <div class="tile">
                    <div class="small-image">
                        <a href="/onboarding">
                            <img src="/images/small-images/onboarding-small.png">
                        </a>
                    </div>
                    <h2 class="label"><%= link_to "New User Acquisition Flow", '/onboarding' %></h2>
                    <div class="description">
                      UX design to maximize conversion rate for Windows Live new user sign-up and client download campaigns
                        <div class="box-bottom-div">
                            <img src="/images/box-bottom.png" class="box-bottom"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <a href="/home">&laquo; Back to Home</a>
    </div>
    <div class="portfolio-content">
        <div class="pf-description">
          Like any other web services, Windows Live had watched the inflow of new users through ad campaigns closely. In 2008, a user
          study identified a funnel of user traffic reducing with each associated UI steps before becoming an engaged user. My team was
          tasked to streamline the whole user acquisition UX flow for Windows Live brand to raise the conversion rate.
        </div>
        <img src="/images/onboarding/onboarding1.png">
        <div class="pf-description caption">
          &uarr; UI template for download.live.com, Windows Live client app merchandising site
        </div>
        <div class="pf-description">
          I oversaw the redesign of the whole funneling flow &mdash; from making customers aware of our offerings to raising interest and to
          triggering to sign up for an ID and download the applications. The goal was to make the sign-up (web services) and the download (client apps)
          flow as frictionless as possible while providing necessary product info on the way.
        </div>
        <div class="pf-description">
          My team worked with complex design problems around information
          architecture overhaul, analytics reflection, dynamic content management and localization. We collaborated closely with market analysts,
          go-to-market strategists, field sales people and support personnel in this project.
        </div>
        <div class="pf-description">
            After the new design was launched in 2009, the conversion rate was measured at 49% (of new people following through to sign up
          for an ID or download a Windows Live program), up from 23% before redesigning.
        </div>
        <img src="/images/onboarding/onboarding4.png" class="vertical">
        <div class="pf-description vertical caption">&larr; UI template for unauthenticated merchandising page for Windows Live web services</div>
        <div class="clear"></div>
        <img src="/images/onboarding/onboarding3.png" class="vertical">
        <div class="pf-description vertical caption">&larr; UI template for feature descriptions and product up-selling</div>
        <div class="clear"></div>
        <img src="/images/onboarding/onboarding2.png" class="vertical">
        <div class="pf-description vertical caption">&larr; First-time user step-by-step guide experience</div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>


