<h2 class="page-title">New User Acquisition Flow</h2>
<div class="clear"></div>
<div class="portfolio-container">
    <div class="tile-left">
        <a href="/home">&laquo; Back to Home</a>
        <div class="clear"></div>
        <div class="tile-vertical">
            <div class="tile">
                <div class="small-image">
                    <a href="/onboarding">
                        <img src="/images/small-images/onboarding-small.png">
                    </a>
                </div>
                <h2 class="label"><%= link_to "New User Acquisition Flow", '/onboarding' %></h2>
                <div class="description">UX design to maximize conversion rate for Windows Live new user sign-up and client download campaigns</div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="portfolio-content">
        <div class="pf-description">
          Like any other web services, Windows Live had watched the inflow of new users through ad campaigns closely. In 2008, a user
          research identified a steep funnel in conversion rate with each associated UI steps to become an engaged user, and my team was
          tasked to streamline the whole user acquisition UX flow for Windows Live brand.
        </div>
        <img src="/images/onboarding/onboarding1.png">
        <div class="pf-description">
          I oversaw the redesign of the whole funneling flow &mdash; from making customers aware of our offerings to raising interest and to
          triggering to sign up for an ID and download the applications. The website presented complex design problems around information
          architecture, analytics reflection, dynamic content management and localization. We collaborated closely with market analysts,
          go-to-market strategists, field sales people and support personnel in this project.
        </div>
        <div class="pf-description">
            After the new design was launched in 2009, the conversion rate was measured at 49% (of new people following through to sign up
          for an ID or download a Windows Live program), up from 23% before redesigning.
        </div>
        <img src="/images/onboarding/onboarding2.png">
        <br>
        <img src="/images/onboarding/onboarding3.png">
        <br>
        <img src="/images/onboarding/onboarding4.png">
    </div>
    <div class="clear"></div>
</div>


