<h2 class="page-title">Personal Projects</h2>
<div class="clear"></div>
<div class="portfolio-container">
    <div class="tile-left">
        <div class="tile-vertical">
            <img src="/images/box-top.png" class="box-top"/>
            <div class="clear"></div>
            <div class="tile-container">
                <div class="tile">
                    <div class="small-image">
                        <a href="/personalprojects">
                            <img src="/images/small-images/personal-small.png">
                        </a>
                    </div>
                    <h2 class="label"><%= link_to "Personal Projects", '/personalprojects' %></h2>
                    <div class="description">
                        A few personal print design samples
                        <div class="box-bottom-div">
                            <img src="/images/box-bottom.png" class="box-bottom"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <a href="/home">&laquo; Back to Home</a>
    </div>
    <div class="portfolio-content">
        <img src="/images/personal/personal1.jpg" class="vertical">
        <div class="pf-description vertical caption">
          Invitation postcard for a holiday party
        </div>
        <div class="clear"></div>
        <img src="/images/personal/personal3.jpg" style="margin-top: 50px; margin-left: -30px;">
        <div class="pf-description caption">
          Printed poster for Noldaga Society
        </div>
    </div>
    <div class="clear"></div>
</div>


