<h2 class="page-title">Personal Projects</h2>
<div class="clear"></div>
<div class="portfolio-container">
    <div class="tile-left">
        <a href="/home">&laquo; Back to Home</a>
        <div class="clear"></div>
        <div class="tile-vertical">
            <div class="tile">
                <div class="small-image">
                    <a href="/personalprojects">
                        <img src="/images/small-images/personal-small.png">
                    </a>
                </div>
                <h2 class="label"><%= link_to "Personal Projects", '/personalprojects' %></h2>
                <div class="description">A few personal print design samples </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="portfolio-content">
        <div class="pf-description">
          In 2010, Hotmail was still the world’s biggest email provider with around <em>350M</em> users and Messenger
          was the biggest online chat program with <em>300M</em> users around the world. However, with the growth rate of competitors like
          Google Gmail and Facebook Chat, Windows Live (umbrella brand for both of Hotmail and Messenger) team felt threatened and
          tried to synergize the two giants, Hotmail and Messenger, even further than before. One of the efforts was providing Messenger
          on the web browser integrated with Hotmail and other Windows Live services.
        </div>
        <img src="/images/webmessenger/webim1.png">
        <div class="pf-description">
          The concept wasn't new, but the specific challenges for Windows Live Web Messenger were <em>the emphasized integration of multiple
          web services</em> under the brand. So the Web Messenger had to be designed to work not only in Hotmail context, but also seamlessly
          carry the conversation from/to other web services like SkyDrive, Photos, Office Live and more. Such condition required good
          understanding and handling of technical limitations on top of excellent execution of UX design principles.
        </div>
        <img src="/images/webmessenger/webim2.png">
        <img src="/images/webmessenger/webim3.png">
        <div class="pf-description">
          I led the feature team of 3-5 developers, 3 testers, 2 designers, a UX researcher and a UI writer as the UX program manager.
          We designed to empower ad-hoc communications with friends and coworkers across Windows Live suite with various context and flows.
          The Messenger on the web launched successfully in September 2010, with <em>the first month uptake with 65M unique users</em>.
        </div>

    </div>
    <div class="clear"></div>
</div>


