<h2 class="page-title">3-step Campaign Launch</h2>
<div class="clear"></div>
<div class="portfolio-container">
    <div class="tile-left">
        <div class="tile-vertical">

            <div class="clear"></div>
            <div class="tile-container">
                <div class="tile">
                    <div class="small-image">
                        <a href="/template">
                            <img src="/images/small-images/aps-small.png">
                        </a>
                    </div>
                    <h2 class="label"><%= link_to "3-step Campaign Launch", '/template' %></h2>
                    <div class="description">
                      UX architecture to simplify the task of running a marketing campaign with templates
                        <div class="box-bottom-div">
                            <!--img src="/images/box-bottom.png" class="box-bottom"/-->
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="clear"></div>
        <a href="/home">&laquo; Back to Home</a>
    </div>
    <div class="portfolio-content">
        <div class="pf-description">
            This was a redesigning project for a currently over-complex and unintuitive process of launching a mobile ad campaign and putting instrumentation on the different segments and conditions.
        </div>
        <div class="pf-description">
            I cut down the process into three large steps with a few optional branches of actions the marketers or the agency person can take.
        </div>

        <img src="/images/template/template1.png"/>
        <div class="pf-description">
             <img src="/images/template/template2.png"/>
        </div>
        <div class="pf-description">
             <img src="/images/template/template3.png"/>
        </div>
    </div>
    <div class="clear"></div>
</div>
