<header>
  <div class="header-container">
      <a href="/home" class="header-image"></a>

      <div class="upper-right">
          <div class="name">Hisun Kim</div>
          <div class="clear"></div>
          <div class="dotline"></div>
          <nav class="header-nav">
            <ul>
              <li><%= link_to "Resume(pdf)", 'http://spikyseed.com/HisunKimResume_UX.pdf' %></li>
              <li><%= link_to "LinkedIn", 'http://www.linkedin.com/in/hisunkim' %></li>
              <li><%= link_to "uxhisun@gmail.com", 'mailto:uxhisun@gmail.com' %></li>
            </ul>
          </nav>
      </div>
  </div>
</header>
