<div class="tile-container">
    <div class="tile">
        <div class="small-image">
            <a href="/template">
                <img src="/images/small-images/aps-small.png">
            </a>
        </div>
        <h2 class="label"><%= link_to "3-step Campaign Launch", '/template' %></h2>
        <div class="description">
          UX architecture to simplify the task of running a marketing campaign with templates
            <div class="box-bottom-div">
                <!--img src="/images/box-bottom.png" class="box-bottom"/-->
            </div>
        </div>
    </div>
</div>
